
@media screen and (min-width: 768px) and (max-width: 1024px){
    .wrap1{
        height: 40vh;
    }

    .wrap2{
        height: 75vh;
    }

    .wrap2>img{
        height: 40vh;
    }

    .wrap3{
        height: 160vh;
    }

    .wrap4{
        height: 50vh;
    }

    .wrap5{
        height: 30vh;
    }
}